<input type="text" id="newTodo" />

<select id="select">
    <option value="critical">Critical</option>
    <option value="important">Important</option>
    <option value="cool">Cool</option>
    <option value="nm">Nm</option>
</select>

<input type="button" id="button" class="btn" value="Add"/>    
   
<div id="todoDiv"></div>

    <ul id="todoList">
    <% collection.each(function( model ){ %>
        <li class="liList">
            <p class="<%= model.get("status") %>"><%= model.get("title") %></p>
            <input type="button" value="Done?" id="<%= model.get("id") %>" class="done"/>
            <input type="button" value="Edit" id="<%= model.get("id") %>edit" class="edit"/>
        </li>
    <% }); %>
    </ul>
